# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# postgresql://<username>:<password>@<hostname>:<port>/<database>
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/paul?schema=public"

NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_HOST=http://localhost:3000

HASH_SECRET=some1random2string3